<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material Calculator</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400'>
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/style.css"/>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="calcApp" ng-cloak ng-controller="CalcController as calc">

    <section class="calc-container md-whiteframe-z3" layout="column">
      <div layout="column">
        <div flex class="layout-result">
          <h1>{{calc.result}}</h1>
        </div>
        <div flex class="layout-input">
          <h2>{{calc.input}}</h2>
          <md-button class="md-fab md-accent" aria-label="Execute" ng-click="inputExecute()">
              =
          </md-button>
          <div class="super-ink-wrapper">
            <div class="super-ink" ng-class="calc.trigger"></div>
          </div>
        </div>
        <div flex layout="row">
          <div flex="75" layout="column">
            <div flex class="layout-numbers" layout-align="center center">
              <numbers-row ng-repeat="row in calc.numbersRow"></numbers-row>
            </div>
          </div>
          <div flex class="layout-operators" layout="column">
            <calc-operator ng-repeat="operator in calc.operators" flex class="operator"></calc-operator>
          </div>
        </div>
      </div>
    </section>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>

    <script src="./src/calc/Calc.js"></script>
    <script src="./src/calc/CalcController.js"></script>

    <script type="text/javascript">

          angular
            .module('calcApp', ['ngMaterial','calc'])
            .config(function($mdThemingProvider){
                $mdThemingProvider.theme('default')
                  .primaryPalette('indigo')
                  .accentPalette('teal');
                });

    </script>

  </body>
</html>
