$indigo-500: #3F51B5;
$teal-a200: #64FFDA;

$blue-grey-50: #ECEFF1;
$blue-grey-200: #B0BEC5;
$blue-grey-800: #37474F;
$blue-grey-900: #263238;

$primary-color: $indigo-500;
$accent-color: $teal-a200;
